.linksContainer {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.linksContainer ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sliderLinks {
  overflow-x: scroll;
}

.homeLinks {
  display: flex;
  align-items: center;
}

.leftButtonContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
  left: 0;
}

.rightButtonContainer {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.slider {
  display: flex;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider ul::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 1)
  );
  z-index: 1;
}
.slider::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 1)
  );
  z-index: 1;
}

.leftButton {
  padding-left: 8px;
  padding-right: 8px;
  color: "#767676";
  align-items: center;
  height: 40px;
  justify-content: center;
  background-color: initial;
  border: none;
  font-weight: inherit;
  padding: 0;
  text-align: inherit;
  position: absolute;
  left: 0;
  z-index: 2;
  display: none;
}

.rightButton {
  padding-left: 8px;
  padding-right: 8px;
  color: "#767676";
  align-items: center;
  height: 40px;
  justify-content: center;
  background-color: initial;
  border: none;
  font-weight: inherit;
  padding: 0;
  text-align: inherit;
  position: absolute;
  right: 0;
  z-index: 2;
  display: none;
}

.leftButton.active {
  display: flex;
}
.rightButton.active {
  display: flex;
}

.scrollLeft {
}
.scrollLeft::before {
  background: transparent;
}
.scrollRight {
}
.scrollRight::after {
  background: transparent;
}
