.imageContainer {
  margin-inline: auto;
  max-width: 1320px;
  padding-inline: 20px;
  margin-top: 3%;
}
.imageGridCol {
  --column-gutter: 24px;
  --columns: 3;
  grid-column-gap: var(--column-gutter);
  align-items: start;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
}
.imageGridRow {
  --row-gutter: 24px;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: var(--row-gutter);
}

/* Image styles */
.imageContainer figure {
  display: block;
  margin: 0;
}

.imageSubContainer {
  position: relative;
}
.imageSubContainerTag {
  cursor: zoom-in;
}
.imageWrapper {
  position: absolute;
  height: 100%;
}
.imageWrapper2 {
  height: 100%;
  position: relative;
}
.image {
  height: 100%;
}

.hoverContainer {
  pointer-events: none;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.MbNnd:not(:hover, :focus-within) .qO6EX {
  opacity: 0;
  visibility: hidden;
}
.KFwcR {
  inset: 0 0 0 0;
  position: absolute;
}
.iconContainer {
  inset: 0 0 0 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.iconTopContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: minmax(0, min-content) auto;
  position: relative;
}
.iconTop {
  display: grid;
  gap: 8px;
  grid-auto-flow: column;
  justify-self: end;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}
.iconTop button {
  align-items: center;
  display: inline-flex;
  fill: currentColor;
  background-color: #ffffffe6;
  border: 1px solid #0000;
  box-shadow: 0 1px 2px #0000001a;
  color: #555;
  height: 32px;
  line-height: 30px;
  padding: 0 11px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  user-select: none;
  white-space: nowrap;
}
.iconBottomContainer {
  grid-template-columns: minmax(0, min-content) auto;
  margin-top: auto;
  display: grid;
  gap: 8px;
}
.iconBottom {
  pointer-events: auto;
}
/* .iconBottom span {
  display: block;
} */

.user {
  align-items: center;
  display: flex;
  gap: 8px;
  pointer-events: auto;
}

.user a {
  display: inline-block;
}

.userImg {
  display: inline-block;
  vertical-align: middle;
}

.userImg div {
  position: relative;
}

.userImg div img {
  background-color: #eee;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  position: relative;
}

.userImg div img:after {
  border: 1px solid #0000000d;
  border-radius: 50%;
  content: "";
  inset: 0;
  pointer-events: none;
  position: absolute;
}

.username {
  display: flex;
  flex-direction: column;
  line-height: 1.35;
  min-width: 0;
  text-shadow: 0 1px 8px #0000001a;
}
.username a {
  display: block;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  opacity: 0.8;
  will-change: opacity;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
}
.download {
  display: flex;
  justify-self: end;
}
.downloadIcon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  fill: currentColor;
  background-color: #ffffffe6;
  border: 1px solid #0000;
  box-shadow: 0 1px 2px #0000001a;
  color: #555;
  height: 32px;
  line-height: 30px;
  padding: 0 11px;
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  user-select: none;
  white-space: nowrap;
}
.KFwcR {
  background-image: linear-gradient(
    180deg,
    #00000057 0,
    rgba(0, 0, 0, 0.338) 3.5%,
    rgba(0, 0, 0, 0.324) 7%,
    rgba(0, 0, 0, 0.306) 10.35%,
    rgba(0, 0, 0, 0.285) 13.85%,
    rgba(0, 0, 0, 0.262) 17.35%,
    rgba(0, 0, 0, 0.237) 20.85%,
    rgba(0, 0, 0, 0.213) 24.35%,
    rgba(0, 0, 0, 0.188) 27.85%,
    rgba(0, 0, 0, 0.165) 31.35%,
    rgba(0, 0, 0, 0.144) 34.85%,
    rgba(0, 0, 0, 0.126) 38.35%,
    rgba(0, 0, 0, 0.112) 41.85%,
    rgba(0, 0, 0, 0.103) 45.35%,
    #0000001a 48.85%,
    rgba(0, 0, 0, 0.103) 52.35%,
    rgba(0, 0, 0, 0.112) 55.85%,
    rgba(0, 0, 0, 0.126) 59.35%,
    rgba(0, 0, 0, 0.144) 62.85%,
    rgba(0, 0, 0, 0.165) 66.35%,
    rgba(0, 0, 0, 0.188) 69.85%,
    rgba(0, 0, 0, 0.213) 73.35%,
    rgba(0, 0, 0, 0.237) 76.85%,
    rgba(0, 0, 0, 0.262) 80.35%,
    rgba(0, 0, 0, 0.285) 83.85%,
    rgba(0, 0, 0, 0.306) 87.35%,
    rgba(0, 0, 0, 0.324) 90.85%,
    rgba(0, 0, 0, 0.338) 94.35%,
    rgba(0, 0, 0, 0.347) 97.85%,
    #00000059
  );
}
