* {
  box-sizing: border-box;
}

.Xa5QZ {
  --font-smoothing: auto;
  --background-color: #fff;
  --button-primary-background-color: #111;
  --button-primary-background-color-hover: #222;
  --button-primary-text-color: #fff;
  --faded-text-color: #d1d1d1;
  --form-input-radio-button-border-color: #d1d1d1;
  --form-input-radio-button-checked-border-color: #007fff;
  --form-input-radio-button-checked-dot-color: #007fff;
  --link-text-color-hover: #111;
  --link-text-color: #767676;
  --placeholder-background-color: #0000000d;
  --small-faded-text-color: #767676;
  --text-color: #111;
  --demos-alt-background: #eee;
  --demos-sidebar-active-entry-link: green;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue,
    Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}

button {
  color: inherit;
  cursor: pointer;
  text-transform: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
}
