.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
}

.activeLinkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
}

.activeLinkContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: black;
}

.linkStyle {
  text-decoration: none;
  color: black;
  align-items: center;
  display: flex;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 500;
  color: #767676;
  text-decoration-skip-ink: auto;
  transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
}
