nav {
  display: flex;
  height: 62px;
  padding-block: 11px;
  background-color: #fff;
  padding-inline: 20px;
  color: #111;
}

nav a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  text-decoration-skip-ink: auto;
  transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

.logo {
  height: 32px;
  width: 32px;
  margin: 10px;
  margin-top: -2px;
}

.divider {
  height: 100%;
  width: 16px;
  display: block;
}

.divider2 {
  align-self: center;
  background-color: #c4c4c4;
  height: 16px;
  width: 1px;
}
